extends layout

block content
    .container-fluid
        #controllbar.row-fluid
            .span10.offset1
                
        #main.row-fluid
            #header
                p Phototile
            .span10.offset1
                if(err != true) 
                    each item in dir_data.files
                        if (item.isDirectory)
                            .clear
                            .content.topdir.dir(path= dir_data.dir_path+item.name)
                                p #{item.name}
                        
                        else 
                            .content.file(id= item.name)
                                img(src='/file?path=/'+ item.name)
                                .option
                