extends layout

block content
    .navbar.navbar-inverse.navbar-fixed-top
        .navbar-inner
            a#title.brand(href='#') PhotoStream
            .container
                .btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                

    .container-fluid
        .row-fluid
            #sidebar.span2
                p 【説明】
                p ・黒タイルが一番上位のディレクトリで、灰色っぽいのがその下の階層にあるディレクトリや。
                p ・黒タイルまたは灰色タイルをクリックすると中身の画像が展開されるで。
                p ・タイルにカーソル持ってくと出てくるアイコン押したら、画像のアップロードができるで。
                p ・フォルダごとzipでアップロードしたら勝手に解凍してくれる優れもんや（Macの標準zip圧縮使うとバグります）
                p ・写真アップしたいときはできるだけ小さめ（1枚数百kbくらい）に圧縮してからアップしてや。
            
            #main.span10
                each item in dir_data.files
                    if (item.isDirectory)
                        .clear
                        .content.topdir.dir(path= dir_data.dir_path+item.name)
                            p #{item.name}
                        
                    else 
                        .content.file(id= item.name)
                            img(src='/file?path=/'+ item.name)
                            .option