doctype 5
html
  head
    title='photo stream'
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', type='text/css', href='http://mplus-fonts.sourceforge.jp/webfonts/mplus_webfonts.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    block content
    script(src='/javascripts/jquery-1.9.0.min.js')
    script(src='/javascripts/main.js')
    script(src='/javascripts/jquery.upload/jquery.upload-1.0.2.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    

    