
html, body{
    height: 100%;
    margin: 0px;
}

p {
    font-family: mplus-2p-light;    
}

.container-fluid {
    /*height: inherit; */   
}

#controllbar {
    height: 20%;
}

#controllbar > .span12 {
    /*height: inherit;*/
}


#main > .span10 {
    /*height: 100%;*/
    border-left: 1px #aaa dashed;
    border-right: 1px #aaa dashed;
    display: inline-block;
}

#header{
    width: 10%;
    height: 100%;
    position: fixed;
    
}

#header > p {
    position: absolute;
    margin: 0;
    padding: 0;
    font-size: 70pt;
    left: -100%;
    bottom: 50%;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}

.content {
    height: 180px;
    width: 250px;
    margin: 16px;
    display: inline-block;
    vertical-align: bottom;
}

.dir {
    position: relative; 
    text-align: center;
    background-color: #555;
    color: white;
    font-size: 18pt;
    display: inline-block;
}

.topdir {
    background-color: black; 
}

.dir p {
    position: absolute;
    bottom: 0;
    text-align: center;
}

.file {
    position: relative;
    text-align: center;
}

.file img {
    position: relative;
    min-height: 170px;
    min-width: 240px;
    max-width: 100%;
}

.clear {
    display:block;    
}

.close_btn {
    position: relative;
    width: 30px;
    margin-right: 5px;
    margin-left: 5px;
    border: 2px #aaa dotted;
}

.close_btn>i {
    position: absolute;
    top:35%;
    font-size: 35pt;   
}

.option {
    position:absolute; 
    width: 100%;
    height: 24px;
    top: 0px;
    background-color: #ddd;
    display: none;
}

.upload {
    position: relative;
    overflow: hidden; 
    height: 24px;
    width: 20px;
}

.upload i {
    position: absolute;
    top: 0;
    left: 0;
} 

.option input[type='file'] { 
    position: relative;
    top: 0;
    left: 0;
    height: 24px;
    width: 20px;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

.option input[type='file']::-webkit-file-upload-button { 
    cursor: pointer;
}
